# server
Flask==0.12.2
Flask-Script==2.0.5
gunicorn==19.7.1
marshmallow==2.13.6

# testing and code quality
pylint==1.7.2
pylint-flask==0.5
pytest==3.2.1

# generic google cloud
google-cloud==0.27.0

# google cloud storage
google-cloud-storage==1.3.2

# vision sdk
google-cloud-vision==0.27.0

# image processing
Pillow==4.2.1
exifread==2.1.2
