<!DOCTYPE html>
<html lang="en">
  <head>
    <title>✨📸🕶✨</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TensorBros: Emojivision">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    /* HACK - limit image size by limiting max panel width */
    .panel {
      max-width: 500px;
    }
    </style>
    {% if not config.get('TESTING') -%}
    <script type="text/javascript">
      window['_fs_debug'] = false;
      window['_fs_host'] = 'fullstory.com';
      window['_fs_org'] = '6K3ZJ';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
          if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
          g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
          o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
          y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
          g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
          g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
          g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
          d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
          ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
      })(window,document,window['_fs_namespace'],'script','user');
    </script>
    {%- endif %}
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#collapse-container">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">✨📸🕶✨</a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-container">
          <ul class="nav navbar-nav">
            <li {% if active_page == 'upload' %} class="active" {% endif %}>
              <a href="{{ url_for('index') }}">
                📸 Upload 📸
              </a>
            </li>
            <li {% if active_page == 'emojivision' %} class="active" {% endif %}>
              <a href="{{ url_for('emojivision', id_filename=id_filename) }}">
                🕶 Emojivision 🕶
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
