{% extends "base.html" %}

{% block content %}

<h3>📸 Upload 📸</h3>

<form method="POST" enctype="multipart/form-data" id="upload-form">
  <div class="panel panel-default" style="max-width: 432px;">
    <div class="panel-heading">
      <h4 class="panel-title">
        process a new image
      </h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="image">take a photo or select an image < 10MB</label>
        <input type="file" name="image" id="image" class="form-control"
          accept="image/*" required="true" />
      </div>
      </div>
    <div class="panel-footer">
      <button type="submit" value="Upload" class="btn btn-success" id="upload-button">
        🚀 Launch 🚀
      </button>
      <span>&nbsp;</span>
      <span class="glyphicon glyphicon-cd glyphicon-spin hidden" id="upload-spinner"></span>
    </div>
</form>

<script type="text/javascript">
  /* Prevent multiple form submissions by disabling submit button after first event. */
  var uploadForm = document.getElementById("upload-form");
  var uploadButton = document.getElementById("upload-button");
  var uploadSpinner = document.getElementById("upload-spinner");
  var disableSubmitButton = function() {
    uploadButton.setAttribute('disabled', 'disabled');
    uploadSpinner.classList.remove('hidden');
  }
  uploadForm.addEventListener('submit', disableSubmitButton, false);
</script>

{% endblock %}
